<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jinyoungkim.shefing">

    <uses-sdk tools:overrideLibrary="kr.co.bootpay" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".util.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.loading.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.mainlist.MainActivity" />
        <activity android:name=".ui.main.mainlist.MainAdapter" />
        <activity android:name=".ui.mypage.MyPageActivity" />
        <activity android:name=".ui.mypage.LoginActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.detail.DetailActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.info.InfoActivity" />
        <activity android:name=".ui.detail.detail_menu.MenuDetailActivity" />
        <activity android:name=".ui.reservation.ReservationActivity" />
        <activity android:name=".ui.mypage.reservation_tab.ReservationDetailActivity" />
        <activity android:name=".ui.loading.LoadingActivity" />
        <activity android:name=".ui.setting.LicenseActivity"></activity>
    </application>

</manifest>